%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"} E-Commerce
    %ul.nav.navbar-nav
      %li.active
        = link_to 'Home', root_path
      %li
        = link_to 'Cart', cart_path
      %li
        = link_to 'Orders', orders_path
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to cart_path do
          %i.glyphicon.glyphicon-shopping-cart
          %span.badge.badge-pill.badge-success= current_cart.items_count

