%strong.code#message= @message
%h4
  %strong Orders
%table.table.table-striped
  %thead
    %tr
      %td
        %strong Order
      %td
        %strong First Name
      %td
        %strong Last Name
      %td
        %strong Status
      %td
        %strong Subtotal
      %td
  %tbody
    - @orders.each do |order|
      %tr.table-row
        %td= order.token
        %td= order.first_name
        %td= order.last_name
        %td= order.status
        %td= number_to_currency order.subtotal
        %td
          = link_to 'Items', order_products_path(order.id), class: 'btn btn-warning'
          = form_for order, class: "form-inline", method: :delete do |f|
            .form-row.align-items-center
              = f.submit 'Remove', class: 'add-item btn btn-danger mb-1'