%strong.code#message= @message

%h4
  %strong Order Items
%table.table.table-striped
  %thead
    %tr
      %td
        %strong Product
      %td
        %strong Price
      %td
        %strong Quantity
  %tbody
    - @order.items.each do |item|
      %tr.table-row
        %td= item.product.title
        %td= number_to_currency item.price
        %td= item.quantity

  %tfoot
    %tr
      %td Subtotal
      %td= number_to_currency @order.subtotal

= link_to 'Back', :back, class: 'btn btn-warning'
