%h2 Checkout

= form_for @order, url: checkout_path do |f|
  .form-group
    = f.label :first_name
    = f.text_field :first_name
  .form-group
    = f.label :last_name
    = f.text_field :last_name

  = f.submit 'Checkout', class: 'btn btn-success'

