%strong.code#message= @message

%h4
  %strong Current Cart
%table.table.table-striped
  %thead
    %tr
      %td
        %strong Product
      %td
        %strong Price
      %td
        %strong Quantity
      %td
  %tbody
    - @items.each do |item|
      %tr.table-row
        %td= item.product.title
        %td= number_to_currency item.price
        %td= item.quantity
        %td
          = form_for item, class: "form-inline", method: :delete do |f|
            .form-row.align-items-center
              = f.submit 'Remove', class: 'add-item btn btn-danger mb-1'

  %tfoot
    %tr
      %td Subtotal
      %td= number_to_currency current_cart.order.subtotal

= link_to 'Checkout', checkout_path, class: 'btn btn-success' unless current_cart.order.subtotal == 0
