%strong.code#message= @message
%h4
  %strong E-Commerce
%table.table.table-striped
  %thead
    %tr
      %td
        %strong Product
      %td
        %strong Price
      %td
        %strong Buy
  %tbody
    - @products.each do |product|
      %tr.table-row
        %td= product.title
        %td= number_to_currency product.price
        %td
          = form_tag order_items_path, class: "form-inline" do
            .form-row.align-items-center
              = hidden_field_tag :product_id, product.id
              = number_field_tag :quantity, 1, min: 1, class: 'form-control mb-1'
              = submit_tag 'Add to cart', class: 'add-item btn btn-primary mb-1'


