!!!
%html
  %head
    %title
      Ecommerce
      = Rails.env unless Rails.env.production?
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = csp_meta_tag

  %body{ data: { controller: params[:controller], action: params[:action] } }
    .public-access
      .generic-header
      .container-fluid
        = render 'shared/header'
        - if notice.present? || alert.present?
          .alert.alert-dismissible{role: :alert, class: notice.present? ? "alert-success" : "alert-danger"}
            %button.close{type: :button, data: {dismiss: :alert}, aria: {label: 'Close'}}
              %span{aria: {hidden: "true"}} &times;
            = notice || alert
        = yield

    -# = yield :sidebar

    / JS files
    = javascript_include_tag 'application'

